{% extends "base2.html"%}
{%block content%}




<table class='table table-light'>
    <tr>
    <th>#</th>
    {% for col in df.columns %}
    <th>{{col}}</th>
    {% endfor %}
    </tr>
    {% for i, row in df.iloc[0:].iterrows() %}
      <td>{{i}}</td>
      {% for entry in row %}
      <td>{{ entry }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <style>
    body {
    background: url('https://media.istockphoto.com/photos/assorted-indian-recipes-food-various-picture-id922783734?k=6&m=922783734&s=612x612&w=0&h=hljWwPRzq8Cc_PHbx693FPnQ_39yNqD4BUjtMbgASlM=') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  </style>

  {% endblock %}